<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/Roboto_font/Roboto.css")
        link(rel="stylesheet", href="/css/goldStyle.css")
        title GTC Aldis Login
    body
        .container-login
            .form-login
                .login-panel
                    .login-header
                        .label-login GTC Aldis
                    .login-body
                        .ca-car-parts
                            .form-label
                                input(type="text" id="username" name="" autocomplete="off" required)
                                label(for="" class="lbl-contents" id="usertxt-lbl")
                                    span.span-content Username
                        .ca-car-parts
                            .form-label
                                input(type="password" id="password" name="" autocomplete="off" required)
                                label(for="" class="lbl-contents" id="passtxt-lbl")
                                    span.span-content Password    
                    .login-footer
                        button.login-button#loginbutton login
        .container-loading.hideContent#loading
            .loading-bar

    script(src='/script/loginform.js')